@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
  font-family: 'Prompt', sans-serif;
}

main{
  display:flex;
  min-height: 100vh;
  justify-content:center;
  align-items:center;
  font-family: 'Prompt', sans-serif;
  position: relative;

}

.container{
  margin: 5rem Auto;
  background: #fff;
  border-radius: 0.25rem;
  padding: 2rem 2rem;
  max-width: 920px;
  margin-left: 0px ;
  margin-right: 40px;
}

.container span{
  color: #5faa03;
}



.exampleClass {
	padding: 12px 24px;
    background-Color: white;
    
    border-Radius: 7px;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    border:transparent;
    background: transparent;
    align-self: center;
    margin-left: 1rem;
    min-width: 2rem;
    color: rgb(0, 0, 0);
    font-size: 20px;

  }

.exampleClass:hover {
	transform: scale(1.10);
  }

.exampleClass:active {
	transform: scale(0.9);
}

.content{
  padding: 1rem 1.5rem;
  border: 2px solid rgb(218, 217, 217);
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgb(0, 0, 0,0.1);
  width: 100%;
  border-radius: 15px;
}

.content header{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.content p{
  color: rgb(0, 0, 0);
}

.ptitle{
  color: #464646;
  font-size: 18px;
  width: 100%;
}

.navbar{
  background-color: #68CC45;
  height: 78px;
  width: 100%;
}

.logo{
  height: 70px;
  margin-left: 20px;
}

.footer{
  display: flex;
  background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:300px;
  width: 100%;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  
}

.footer h1{
  margin-top: 30px;
  color:#121212;
  font-size: 25px;
  
}

.footer p{
  margin-top: 20px;
  font-size: 15px;
  
}

.footer a{
  color:#121212;
}

.github{
  font-size: 50px;
}

.github a{
  color: rgb(0, 0, 0);
}